---
layout: page
---

<div class="home">

On May 4, 2018, I will make an official Guinness World Record attempt for the fastest 100m while juggling 5 balls.  The current record was set in 1989 by Owen Morse and is 13.80s.  

TODO: Link to donations


  {% for post in site.posts%}
  <div class="post postContent">
    <div  class="postDate"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time>
    </div>
    <div class="postDay">
      {{post.tag}}
    </div>
    <br>
    <div class="postTitle">
    <a class='postLink' href="{{site.url}}{{site.baseurl}}{{post.url}}">{{post.title}}</a>
    </div>
    <div class="postExt">
   {{ post.content | strip_html | truncatewords:20}}
    </div>
  </div>


  {% endfor %}
  <!--<ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta-main">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link-main" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>-->



</div>
